.contact-page {
    margin-top: 0;
    height: 25vh;
    display: flex;
    align-items: center;
    color: #4c4c4c;
    background-color: #f8f8f8;
  }

  .contact-page .row > div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .contact-text h5{
    /*
    color: #ff6201;
    */

    /* Variant 2
    color: #ffffff;
    display: inline-block;
    padding: 1px 12px;
    background-color: #ff6201;
    */

    /* Variant 3 */
    color: #000000;
    display: inline-block;
    padding: 1px 6px;
    background-color: #66fc91;
  }
