nav.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.3s;
    background-color: #f8f4e8;
  }

  nav.navbar.scrolled {
    box-shadow: 0 1px 4px -2px #4c4c4c;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/
  }

  .navbar-links {
    color: dark;
    font-size: xx-large;
  }

  .navbar-brand {
    border: 2px solid #706e69;
    padding: 5px 15px;
    border-radius: 20px;
    transition: 0.2s;
    min-width: 150px
  }

  .navbar-brand:hover {
    background-color: #66fc91;
  }

  @media (max-width: 992px) {
    nav.navbar.scrolled {
      box-shadow: 0 1px 4px -2px #4c4c4c;
      transition: none;
    }
    nav.navbar.menu-open {
      box-shadow: 0 1px 4px -2px #4c4c4c;
      transition: none;
    }
    .navbar-brand {
      margin: 10px;
    }
    .navbar-toggler {
      border: 2px solid #706e69;
      border-radius: 20px;
      margin: 10px;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
    .me-auto {
      align-items: center;
      padding: 10px;
      font-size: large;
    }
    .navbar-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
    }
    .GitHubBtn {
      align-self: center;
      margin-right: 10px;
    }
    .LinkedInBtn {
      align-self: center;
    }
    .collapsing {
      -webkit-transition: height 0.01s;
      -moz-transition: height 0.01s;
      -ms-transition: height 0.01s;
      -o-transition: height 0.01s;
      transition: height 0.01s;
    }
  }
