.projects-page {
    margin-top: 0;
    height: 90vh;
    display: flex;
    align-items: center;
    color: #4c4c4c;
    background-color: #ffffff;
    border-bottom: 2px solid #706e69;
  }

  .tags-cloud {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .git-btn {
    padding: 5px 15px;
    min-width: 110px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #706e69;
    border-radius: 20px;
    transition: 0.2s;
    color: #000000;
    background-color: #ffffff;
  }

  .git-btn:hover {
    background-color: #66fc91;
  }